<!-- Footer Section -->
<footer class="container" id="Footer" data-aos="fade-up">
    <div class="footer">
        <div class="website_info footer_content">
            <p class="logo">AquaHarvest</p>
            <p class="logo_info">A platform where you can grow for fish farming business.</p>
            <div class="footer_newsLetter">
                <a href="#newsLetter" class="footer_newsLetter_redirect">
                    Join Our NewsLetter
                </a>
            </div>
        </div>
        <div class="links footer_content">
            <h3 class="links_title">Links</h3>
            <ul class="links_list">
                <li class="link_items"><a href="#Hero">
                        Home
                    </a> </li>
                <li class="link_items"><a href="#">
                        About
                    </a></li>
                <li class="link_items"><a href="#">
                        Fish
                    </a> </li>
                <li class="link_items"><a href="#">
                        Help
                    </a> </li>
                <li><a href="#" class="SignUp">
                        <div class="register">
                            My Profile
                        </div>
                    </a></li>
            </ul>
        </div>
        <div class="support footer_content">
            <h3 class="links_title">Support</h3>
            <ul class="links_list">
                <li class="link_items">XX-XXXX-XXXX</li>
                <li><a href="mailto: muditanand2003@gmail.com" class="link_items">
                        muditanand2003@gmail.com</a></li>
                <li class="link_items"><a href="#">
                        Contact Us
                    </a> </li>
            </ul>
        </div>
    </div>
    <p style="color: var(--heading-color); text-align: center; margin-bottom: 12px;" class="copyright">
        &#169; copyright 2022-23 | All Rights Reserved
    </p>
</footer>
<!-- End footer Section -->

<!-- scripts -->
<script src="Js/navigation.js"></script>
<script src="Js/addFish.js"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script src="Js/Aos_init.js"></script>
</body>

</html>