<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fishin' | Help</title>
    <link rel="stylesheet" href="CSS/dark.css">
    <link rel="stylesheet" href="CSS/CommonStyle.css">
    <link rel="stylesheet" href="CSS/Help.css">
    <link rel="stylesheet" href="CSS/login.css">
    <link rel="stylesheet" href="CSS/footer.css">
    <link rel="stylesheet" href="CSS/onScroll.css" class="onSCROLL" disabled>

    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css">
</head>

<body>
    <!-- Nav Section -->
    <section class="nav" id="Nav">
        <div class="container">
            <div class="nav__wrapper">
                <a href="#About" class="logo">
                    AquaHarvest
                </a>
                <nav>
                    <div class="nav__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <line x1="3" y1="12" x2="21" y2="12" />
                            <line x1="3" y1="6" x2="21" y2="6" />
                            <line x1="3" y1="18" x2="21" y2="18" />
                        </svg>
                    </div>
                    <div class="nav__bgOverlay"></div>
                    <ul class="nav__list">
                        <div class="nav__close">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round">
                                <line x1="18" y1="6" x2="6" y2="18" />
                                <line x1="6" y1="6" x2="18" y2="18" />
                            </svg>
                        </div>
                        <div class="nav__list__wrapper">
                            <li><a href="./" class="nav__link">Home</a></li>
                            <li><a href="./About" class="nav__link">About</a></li>
                            <li><a href="./Fish" class="nav__link">Fish</a></li>
                            <li><a href="#Help" class="nav__link activeWindow">Help</a></li>
                            <li><a href="#" class="SignUp">
                                    <div class="register">
                                        Login / SignUp
                                    </div>
                                </a></li>
                        </div>
                    </ul>
                </nav>
            </div>
        </div>
    </section>
    <!-- End Nav Section -->

    <!-- GetData Section -->
    <section class="help container" id="Help" style="margin-top: 100px;">
        <h1 class="title">CONTACT US</h1>
        <p class="sub_title">Reach us </p>
        <div class="form__wrapper" data-aos="fade-up">
            <div class="contact_details">
                <h1 class="Contact_title">Contact Us</h1>
                <div class="contact_line"></div>
                <div class="callUs">
                    <i class="uil uil-calling"></i>
                    <span>XX-XXXX-XXXX</span>
                </div>
                <div class="mailUs">
                    <i class="uil uil-envelope"></i>
                    <span>fishin@gmail.com</span>
                </div>
                <div class="address">
                    <i class="uil uil-estate"></i>
                    <span>Kolkata, India</span>
                </div>
            </div>
            <div id="Help__form" class="thankYou" data-aos="zoom-in-up">
                <h2>Thank you for contacting Us.</h2>
                <p>Thank You for bringing this issue to our attention. We understand the importance of resolving this
                    matter and we assure you that we will prioritize it and work towards finding a solution as quickly
                    as possible. <br>
                    <br>We appreciate your patience and understanding as we work to address this concern.
                </p>
                <i class="uil uil-smile-beam" style="font-size: 44px; text-align: center; font-weight: 400;"></i>
            </div>
        </div>
    </section>
    <!-- End GetData Section -->

    <!-- Log in/Out section -->
    <%- include('./Partials/login.ejs') %>
    <!-- End log in/Out section -->

    <!-- Footer Section -->
    <footer class="container" id="Footer" data-aos="fade-up">
        <div class="footer">
            <div class="website_info footer_content">
                <p class="logo">AquaHarvest</p>
                <p class="logo_info">A platform where you can grow for fish farming business.</p>
                <div class="footer_newsLetter">
                    <a href="/" class="footer_newsLetter_redirect">
                        Join Our NewsLetter
                    </a>
                </div>
            </div>
            <div class="links footer_content">
                <h3 class="links_title">Links</h3>
                <ul class="links_list">
                    <li class="link_items"><a href="./">
                            Home
                        </a> </li>
                    <li class="link_items"><a href="./About">
                            About
                        </a></li>
                    <li class="link_items"><a href="./Fish">
                            Fish
                        </a> </li>
                    <li class="link_items"><a href="#Help">
                            Help
                        </a> </li>
                    <li><a href="#" class="SignUp">
                            <div class="register">
                                Login / SignUp
                            </div>
                        </a></li>
                </ul>
            </div>
            <div class="support footer_content">
                <h3 class="links_title">Support</h3>
                <ul class="links_list">
                    <li class="link_items">XX-XXXX-XXXX</li>
                    <li><a href="mailto: muditanand2003@gmail.com" class="link_items">
                            muditanand2003@gmail.com</a></li>
                    <li class="link_items"><a href="./Help">
                            Contact Us
                        </a> </li>
                </ul>
            </div>
        </div>
        <p style="color: var(--heading-color); text-align: center; margin-bottom: 12px;" class="copyright">
            &#169; copyright 2022-23 | All Rights Reserved
        </p>
    </footer>
    <!-- End footer Section -->

    <!-- scripts -->
    <script src="Js/navigation.js"></script>
    <script src="Js/Form.js"></script>
    <script src="Js/login.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="Js/Aos_init.js"></script>
</body>

</html>