<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fishin' | Home</title>
    <link rel="stylesheet" href="CSS/dark.css">
    <link rel="stylesheet" href="CSS/CommonStyle.css">
    <link rel="stylesheet" href="CSS/Hero.css">
    <link rel="stylesheet" href="CSS/methods.css">
    <link rel="stylesheet" href="CSS/Why.css">
    <link rel="stylesheet" href="CSS/Fish.css">
    <link rel="stylesheet" href="CSS/newLetter.css">
    <link rel="stylesheet" href="CSS/login.css">
    <link rel="stylesheet" href="CSS/footer.css">
    <link rel="stylesheet" href="CSS/onScroll.css" class="onSCROLL" disabled>

    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css">
</head>

<body>
    <!-- Nav Section -->
    <section class="nav" id="Nav">
        <div class="container">
            <div class="nav__wrapper">
                <a href="#Hero" class="logo">
                    AquaHarvest
                </a>
                <nav>
                    <div class="nav__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <line x1="3" y1="12" x2="21" y2="12" />
                            <line x1="3" y1="6" x2="21" y2="6" />
                            <line x1="3" y1="18" x2="21" y2="18" />
                        </svg>
                    </div>
                    <div class="nav__bgOverlay"></div>
                    <ul class="nav__list">
                        <div class="nav__close">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round">
                                <line x1="18" y1="6" x2="6" y2="18" />
                                <line x1="6" y1="6" x2="18" y2="18" />
                            </svg>
                        </div>
                        <div class="nav__list__wrapper">
                            <li><a href="#Hero" class="nav__link activeWindow">Home</a></li>
                            <li><a href="./About" class="nav__link">About</a></li>
                            <li><a href="./Fish" class="nav__link">Fish</a></li>
                            <li><a href="./Help" class="nav__link">Help</a></li>
                            <li><a href="#" class="SignUp">
                                    <div class="register">
                                        Login / SignUp
                                    </div>
                                </a></li>
                        </div>
                    </ul>
                </nav>
            </div>
        </div>
    </section>
    <!-- End Nav Section -->

    <!-- Hero Section -->
    <section class="hero" id="Hero">
        <div class="container">
            <div class="hero_box" data-aos="zoom-in-up">
                <h2 class="hero_title" style="font-family: 'kanit'; font-size: 4rem; color:  #f5fcf4;">AquaHarvest</h2>
                <p class="hero_info">Welcome to our sustainable Fish
                    Farm, where we <br> <span class="typing"></span></p>
                <div class="hero_buttons">
                    <a href="#Fish">
                        <div class="explore_button">
                            Explore Fishes
                        </div>
                    </a>
                    <a href="#" class="SignUp">
                        <div class="register" style="color: #f5fcf4;">
                            Login / SignUp
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- End Hero Section -->

    <!-- How Section -->
    <section class="container methods" data-aos="fade-up">
        <h1 class="title">HOW</h1>
        <p class="sub_title">To Start with Fish Farming Journey</p>
        <div class="method_box">
            <div class="method_">
                <div class="method_info" data-aos="fade-left">
                    <h3 class="method_title">Planning and Preparation</h3>
                    <p class="method_title_info">The first step in starting a fish farm is to plan and prepare for the
                        operation. This involves identifying the type of fish you want to farm, determining the size of
                        your farm, selecting an appropriate location, and obtaining any necessary permits or licenses.
                        You will also need to decide on a suitable farming system, such as a pond or a recirculating
                        aquaculture system (RAS), and set up the necessary infrastructure, such as tanks, filters, and
                        aeration systems.</p>
                </div>
                <div class="method_img" data-aos="fade-right">
                    <img src="Gallery/pngwing.com (1).png" alt="Planning">
                </div>
            </div>

            <div class="method_">
                <div class="method_img" data-aos="fade-left">
                    <img src="Gallery/pngwing.com (2).png" alt="Planning">
                </div>
                <div class="method_info" data-aos="fade-right">
                    <h3 class="method_title">Stocking and Cultivation</h3>
                    <p class="method_title_info">Once your farm is set up, the next step is to stock it with fish and
                        begin the cultivation process. This involves selecting healthy and disease-free fish fry or
                        fingerlings, and monitoring their growth and development over time. You will need to provide the
                        fish with a suitable diet, maintain appropriate water quality and temperature, and manage any
                        disease or pest outbreaks that may occur.</p>
                </div>
            </div>

            <div class="method_">
                <div class="method_info" data-aos="fade-left">
                    <h3 class="method_title">Harvesting and Marketing</h3>
                    <p class="method_title_info">The final step in fish farming is to harvest your fish and bring them
                        to market. Depending on the type of fish you are farming, this may involve harvesting the fish
                        live or processing them for sale as fillets or other products. You will also need to develop a
                        marketing strategy and network to sell your fish to buyers, such as restaurants, markets, or
                        wholesalers.</p>
                </div>
                <div class="method_img" data-aos="fade-right">
                    <img src="Gallery/pngwing.com (3).png" alt="Planning">
                </div>
            </div>
        </div>
    </section>
    <!-- End How Section -->

    <!-- Why Section -->
    <section class="why container" data-aos="fade-up">
        <h1 class="title">WHY</h1>
        <p class="sub_title">Fish Farming ?</p>
        <div class="why_container">
            <div class="why_info" data-aos="fade-up" data-aos-duration="600">
                <div class="why_info_logo">
                    <i class="uil uil-shop info_icon"></i>
                </div>
                <div class="why_description">
                    The global seafood market was valued at USD 158.2 billion in 2020 and is projected to reach USD
                    195.9 billion by 2026, growing at a CAGR of 3.6% during the forecast period (2021-26). The market is
                    driven by the increasing demand of seafood products.
                </div>
            </div>
            <div class="why_info" data-aos="fade-up" data-aos-duration="900">
                <div class="why_info_logo">
                    <i class="uil uil-arrow-growth info_icon"></i>
                </div>
                <div class="why_description">
                    Fish farming can have lower production costs compared to traditional agriculture, as fish require
                    less feed and water than other livestock. This can result in higher profit margins for farrmers.
                </div>
            </div>
            <div class="why_info" data-aos="fade-up" data-aos-duration="400">
                <div class="why_info_logo">
                    <i class="uil uil-shopping-cart-alt info_icon"></i>
                </div>
                <div class="why_description">
                    Fish farming create opportunities for local markets, as fish can be sold to nearby restaurants
                    and grocery stores. It also provide export opportunities for countries with competitive advantage in
                    fish production.
                </div>
            </div>
            <div class="why_info" data-aos="fade-up" data-aos-duration="600">
                <div class="why_info_logo">
                    <i class="uil uil-usd-circle info_icon"></i>
                </div>
                <div class="why_description">
                    Fish farming provide steady source of income for fish farmers, as fish can be sold year-round. This
                    can help to stabilize the income of farmers, especially where agriculture is seasonal.
                </div>
            </div>
            <div class="why_info" data-aos="fade-up" data-aos-duration="900">
                <div class="why_info_logo">
                    <i class="uil uil-server info_icon"></i>
                </div>
                <div class="why_description">
                    Fish farming is an efficient use of resources, as it requires less water than traditional
                    agriculture and can be located in areas where land is not suitable for other types of agriculture.
                </div>
            </div>
            <div class="why_info" data-aos="fade-up" data-aos-duration="400">
                <div class="why_info_logo">
                    <i class="uil uil-users-alt info_icon"></i>
                </div>
                <div class="why_description">
                    Fish farming provides employment opportunities for people in rural areas, where other employment
                    opportunities may be limited.
                </div>
            </div>
        </div>
    </section>
    <!-- End Why Section -->

    <!-- Fish Section -->
    <section id="Fish" class="fish container">
        <h1 class="title">FISH</h1>
        <p class="sub_title">More in Demand</p>
        <div class="fish_container">
            <div class="fishes">
                <div class="fish_item">
                    <div class="fish_img">
                        <img src="./Gallery/SalmonFish.jpeg" alt="">
                    </div>
                    <div class="fish_info">
                        <p class="fish_text" id="fishName"><b>Name: &emsp;</b>Salmon</p>
                        <p class="fish_text" id="commonName"><b>Common Name: &emsp;</b>Chinook</p>
                        <p class="fish_text" id="waterPH"><b>Water Ph.: &emsp;</b>6.5 - 8.5</p>
                        <p class="fish_text" id="temp"><b>Temperature: &emsp;</b>10 - 14 &#176;C</p>
                        <p class="fish_text" id="oxyLevel"><b>Oxygen Level: &emsp;</b>High</p>
                    </div>
                    <div class="fish_card_line"></div>
                    <div class="fish_more_detail" id="HideOnClick">
                        <p>Show More</p>
                    </div>
                </div>
                <div class="fish_item">
                    <div class="fish_img">
                        <img src="./Gallery/catfish.jpeg" alt="">
                    </div>
                    <div class="fish_info">
                        <p class="fish_text" id="fishName"><b>Name: &emsp;</b>Catfish</p>
                        <p class="fish_text" id="commonName"><b>Common Name: &emsp;</b>Magur OR singhi OR ermai</p>
                        <p class="fish_text" id="waterPH"><b>Water Ph.: &emsp;</b>6.5 - 8.0</p>
                        <p class="fish_text" id="temp"><b>Temperature: &emsp;</b>20 - 30 &#176;C</p>
                        <p class="fish_text" id="oxyLevel"><b>Oxygen Level: &emsp;</b>High</p>
                    </div>
                    <div class="fish_card_line"></div>
                    <p class="fish_more_detail">Show More</p>
                </div>
            </div>
            <div class="view_more">
                <a href="./Fish">View More <i class="uil uil-angle-right-b arrow"></i></a>
            </div>
        </div>
    </section>
    <!-- End Fish Section -->

    <!-- NewsLetter Section -->
    <section class="newsLetter container" id="newsLetter">
        <div class="newsLetter_content" data-aos="flip-down">
            <div class="newsLetter_upBox">
                <p class="newsletter__title">Join Our NewsLetter</p>
                <div class="newsLetter_upBox_description">
                    <div class="newsletter__wrapper">
                        <div class="newsletter__info">
                            <p class="newsletter__text">
                                Don't miss out on the latest updates and insigts! Sign up for our newsletter now.
                            </p>
                        </div>
                        <div class="newsletter__form">
                            <form id="newsletter__form" onsubmit="return newFormValidate()" method="post">
                                <label for="email">
                                    <input type="text" placeholder="Your Email Address" required>
                                </label>
                                <button type="submit" style="cursor: pointer;">Join</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="newsLetter_downBox">
                <div class="blob_Box">
                    <div class="blob1 blob"></div>
                    <div class="blob2 blob"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- End NewsLetter Section -->

    <!-- Log in/Out section -->
    <%- include('./Partials/login.ejs') %>
    <!-- End log in/Out section -->

    <!-- Footer Section -->
    <footer class="container" id="Footer" data-aos="fade-up">
        <div class="footer">
            <div class="website_info footer_content">
                <p class="logo">AquaHarvest</p>
                <p class="logo_info">A platform where you can grow for fish farming business.</p>
                <div class="footer_newsLetter">
                    <a href="#newsLetter" class="footer_newsLetter_redirect">
                        Join Our NewsLetter
                    </a>
                </div>
            </div>
            <div class="links footer_content">
                <h3 class="links_title">Links</h3>
                <ul class="links_list">
                    <li class="link_items"><a href="#Hero">
                            Home
                        </a> </li>
                    <li class="link_items"><a href="./About">
                            About
                        </a></li>
                    <li class="link_items"><a href="./Fish">
                            Fish
                        </a> </li>
                    <li class="link_items"><a href="./Help">
                            Help
                        </a> </li>
                    <li><a href="#" class="SignUp">
                            <div class="register">
                                Login / SignUp
                            </div>
                        </a></li>
                </ul>
            </div>
            <div class="support footer_content">
                <h3 class="links_title">Support</h3>
                <ul class="links_list">
                    <li class="link_items">XX-XXXX-XXXX</li>
                    <li><a href="mailto: muditanand2003@gmail.com" class="link_items">
                            muditanand2003@gmail.com</a></li>
                    <li class="link_items"><a href="./Help">
                            Contact Us
                        </a> </li>
                </ul>
            </div>
        </div>
        <p style="color: var(--heading-color); text-align: center; margin-bottom: 12px;" class="copyright">
            &#169; copyright 2022-23 | All Rights Reserved
        </p>
    </footer>
    <!-- End footer Section -->


    <!-- scripts -->
    <script src="Js/navigation.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js"
        referrerpolicy="no-referrer"></script>
    <script src="Js/typing.js"></script>
    <script src="Js/login.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="Js/Aos_init.js"></script>
    <script src="Js/Form.js"></script>
</body>

</html>