:root{
    --body-bg: #111722;
    --heading-color: rgb(255, 255, 255);
    --text-color: rgb(121, 128, 138);
    --text-alt-color: #4a6cf7;
    --btn-bg: #222c40;
    --logo-color: rgb(75, 87, 111);
}